body {
    padding: 50% 20px;
}

@font-face{
    font-family: 'Merriweather' arial;
    src: url(https://fonts.googleapis.com/css?family=Merriweather)
}

h1, h2, h3, strong {
    color: plum;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-align: right;
    border-bottom: 1px solid lightslategray;
    /* border-bottom-color: lightslategray */
}
h3{
    text-align: center;
}

hr {
    color: lightslategray;
    width: 50%;
    border-style: dotted;
}

p{
    text-align: justify;
    font-style: italic;
    font-family: 'Georgia' sans-serif;
    color: lightslategray;
}

#big-achievement{
    color: red;
}

div{
    font-style: italic;
}