body {
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, strong {
    color: plum;
}

h1 {
    text-align: center;
}
h2{
    text-align: right;
    border-bottom: 1px solid lightslategray;
    /* border-bottom-color: lightslategray */
}
h3{
    text-align: center;
}

hr {
    color: lightslategray;
    width: 50%;
    border-style: dotted;
}

p{
    font-family: 'Georgia' sans-serif;
    color: lightslategray;
}